[submodule "YouTubeHeader"]
	path = YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/SDWebImage/SDWebImage.git
