[submodule "YouTubeHeader"]
	path = YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
[submodule "Controllers/SDWebImage"]
	path = Controllers/SDWebImage
	url = https://github.com/SDWebImage/SDWebImage.git
