Package: com.dao.youtubereborn
Name: YouTube Reborn v5 (rootless)
Version: 5.0.0
Architecture: iphoneos-arm
Description: YouTube Reborn v5，arichornlover基于Lillie的YouTube Reborn的增强优化版。油管高级自定义插件，可去广告、下载、画中画、改布局等。
Maintainer: Lillie & arichornlover & 妖刀
Author: Lillie
Section: 嗨-工具
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Conflicts: net.sarahh12099.youtubereborn, com.twickd.sarahh12099.youtube-reborn, com.yourepo.jpet26.youtubetools1, com.justinpetkovic.youtubetools, com.johnzaro.perfectyoutube, com.ichitaso.youtubepatcher, com.yourepo.ikghd.youtubekiller, com.yourepo.ikghd.youtubekillers, com.sinfool.youtopia, com.google.ios.ytadblock, prasa.youtubeplus, com.unlimapps.ytpp, com.twickd.laki.raspberry, com.laki.raspberry, com.twickd.lazar.raspberry, 0xcc.woodfairy.noytads, weeb.lillie.enhancerforyoutubepremium, weeb.lillie.youtubepremiumplus, com.miro.uyou, com.ps.uyoucompat, com.ps.ytsystemappearance, com.yourepo.mohadu31.dzyoutube, com.lyvendia.ytspeed, com.miro.uyouimport, com.ichitaso.uyouplus, com.stem.deficient, com.ps.ytabconfig, com.ps.ytx, com.hk.ryan.youtubereborn, com.hk.rootless.youtubereborn, com.hk.youtubereborn.cn.rl, com.hk.youtubereborn.cn, h.ryan.youtubereborn
Sileodepiction: https://xiangfeidexiaohuo.github.io/sileodepiction/ytr/js.json

